<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmpService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEmpService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFLib/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpService"
                contract="ServiceReference1.IEmpService" name="BasicHttpBinding_IEmpService" />
            <endpoint address="net.tcp://localhost:8734/MyEmpService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEmpService" contract="ServiceReference1.IEmpService"
                name="NetTcpBinding_IEmpService">
                <identity>
                    <userPrincipalName value="Vinaya.SS@IN.valtech.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
